<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Ejemplos con procedimientos almacenados</title>
    </head>

    <body>
        <h3 style="color:blue;">DATOS INSERTADOS: {{afectados}}</h3>
    </body>

</html>