<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Session</title>
</head>

<body>

    <h1 style="color:blue;">DATOS EN LA SESSION</h1>

    <p>Hola {{nombrevariable}}, {{apellidovariable}}</p>
    
    <HR>
    <H3>SE PUEDE ACCEDER A LAS VARIABLES DESDE LA PLANTILLA</H3>
    <p>{{ app.session.get('edad') }}, {{ app.session.get('altura') }}</p>

</body>

</html>