<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Departamentos Multiple</title>
    <style>
        label {
            display: inline-block;
            width: 100px;
        }
    </style>
</head>

<body>
    <form method="post" action="{{ path('deptMultiples') }}">
        <h1>Departamentos</h1>
        <div>
            <label for="id">Número:</label>
            <input type="text" name="id" />
        </div>
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" />
        </div>
        <div>
            <label for="localidad">Localidad:</label>
            <input type="text" name="localidad" />
        </div>
        <br>
        <div>
            <button type="submit" name="operacion" value="insertar">
                Insertar
            </button>
            <button type="submit" name="operacion" value="modificar">
                Modificar
            </button>
            <button type="submit" name="operacion" value="eliminar">
                Eliminar
            </button>
        </div>
    </form>
    {% if message is defined %}
        <h4 style='color:blue'>{{ message|raw }}</h4> 
        {# var won't be escaped #}
        {# se necesita el raw para mostrar los saltos de línea #}
    {% endif %}

</body>

</html>