{% extends 'indexHospi.html.twig' %}

{% block title %}Eliminar Hospital{% endblock %}

{% block aside %}
<br>
<h3>Eliminar Hospital</h3>
<br><br>
<form method="POST" action="{{ path('eliminarHospi') }}">

    <div>
        <label class="form-label">Introduzca el id del hospital</label>
        <input type="text" name="txtId" class="form-control" id="txtId">
    </div>
    <br><br>
    
    <button type="submit" class="btn btn-primary">
        Eliminar hospital
    </button>
</form>
{% endblock %}