{% extends 'borrado/baseEliminar.html.twig' %}

{% block title %}Departamento no existe{% endblock %}
{% block body %}

<h1>{{ mensaje }}</h1>
<img src="images/incorrecto.jpg" alt="incorrecto.jpg">

{% endblock %}