{% extends 'indexHospi.html.twig' %}

{% block title %} Modificar hospital{% endblock %}

{% block aside %}
<br>
<h3>Formulario Modificar Hospital</h3>
<br><br>
<form method="POST" action="{{ path('ModifyH') }}">
    <div>
        <label class="form-label">Id</label>
        <input type="text" name="txtId" class="form-control" id="txtId">
    </div>
    <div>
        <label class="form-label">Nuevo Nombre</label>
        <input type="text" name="txtNombre" class="form-control" id="txtNombre">
    </div>
    <div>
        <label class="form-label">Nueva Dirección</label>
        <input type="text" name="txtDireccion" class="form-control" id="txtDireccion">
    </div>
    <div>
        <label class="form-label">Nuevo Teléfono</label>
        <input type="text" name="txtTelefono" class="form-control" id="txtTelefono">
    </div>
    <div>
        <label class="form-label">Nuevo Número de camas</label>
        <input type="number" name="numCama" class="form-control" id="numCama">
    </div>
    <br><br>
    
    <button type="submit" class="btn btn-primary">
        Modificar hospital
    </button>
</form>
{% endblock %}