<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>PHP &#127932;</h1>
    <p>
        PHP es un lenguaje de programación de uso general que se adapta especialmente al desarrollo web. Fue creado
        inicialmente por el programador danés-canadiense Rasmus Lerdorf en 1994.En la actualidad, la implementación
        de referencia de PHP es producida por The PHP Group. PHP originalmente significaba Personal Home Page (Página
        personal), pero ahora significa el inicialismo recursivo PHP: Hypertext Preprocessor.
    </p>
</body>

</html>