<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>PYTHON &#128013;</h1>
    <p>
        Python es un lenguaje de alto nivel de programación interpretado cuya filosofía hace hincapié en la legibilidad
        de su código, se utiliza para desarrollar aplicaciones de todo tipo, ejemplos: Instagram, Netflix, Spotify,
        Panda 3D, entre otros. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la
        orientación a objetos, programación imperativa y, en menor medida[¿cuál?], programación funcional. Es un
        lenguaje interpretado, dinámico y multiplataforma.
    </p>
</body>

</html>