<html>

<head>
</head>

<body>

    <form method="POST" action="">

        <fieldset>
            
            <legend>{% trans %}legend{% endtrans %}</legend>

            <label for="cmnombre">{% trans %}cmnombre{% endtrans %}</label><br>
            <input type="text" id="cmnombre" name="cmnombre" value=""><br>

            <label for="cmapellido">{% trans %}cmapellido{% endtrans %}</label><br>
            <input type="text" id="cmapellido" name="cmapellido" value=""><br>

            <label for="cmsapellido">{% trans %}cmsapellido{% endtrans %}</label><br>
            <input type="text" id="cmsapellido" name="cmsapellido" value=""><br>

            <label for="cmtelefono">{% trans %}cmtelefono{% endtrans %}</label><br>
            <input type="text" id="cmtelefono" name="cmtelefono" value=""><br>

            <label for="cmemail">{% trans %}cmemail{% endtrans %}</label><br>
            <input type="text" id="cmemail" name="cmemail" value=""><br>

            <label for="cmconfirmaremail">{% trans %}cmconfirmaremail{% endtrans %}</label><br>
            <input type="text" id="cmconfirmaremail" name="cmconfirmaremail" value=""><br><br>

            <label for="p1">{% trans %}p1{% endtrans %}</label><br>
            <input type="radio" id="y" name="y" value="yes">
            <label for="y">{% trans %}y{% endtrans %}</label>&emsp;&emsp;
            <input type="radio" id="n" name="n" value="no">
            <label for="n">{% trans %}n{% endtrans %}</label><br><br>

            <label for="p2">{% trans %}p2{% endtrans %}</label><br>
            <input type="radio" id="y" name="y" value="yes">
            <label for="y">{% trans %}y{% endtrans %}</label>&emsp;&emsp;
            <input type="radio" id="n" name="n" value="no">
            <label for="n">{% trans %}n{% endtrans %}</label><br><br>
            
            <label for="p3">{% trans %}p3{% endtrans %}</label><br>
            <input type="radio" id="y" name="y" value="yes">
            <label for="y">{% trans %}y{% endtrans %}</label>&emsp;&emsp;
            <input type="radio" id="n" name="n" value="no">
            <label for="n">{% trans %}n{% endtrans %}</label><br><br>


            <input type="submit" value="{% trans %}submit{% endtrans %}">

        </fieldset>

    </form>

</body>

</html>