<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Carnet RM</title>
</head>
<body>
    <img src="/images/CarnetMadridista.bmp" alt="CarnetMadridista.bmp">

    <div>
        <img src="/images/flag-english.gif" alt="flag-english.gif">
        <a href="/en/carnetMadridista">Inglés</a>

        <img src="/images/flag-spanish.gif" alt="flag-spanish.gif">
        <a href="/es/carnetMadridista">Español</a>
        
        <img src="/images/flag-japan.gif" alt="flag-japan.gif">
        <a href="/jpn/carnetMadridista">日本</a>
    </div>

</body>
</html>