<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/actividades/actividades.css">
    <title>Actividades</title>
</head>
<body>
    <h1>A C T I V I D A D E S</h1>
    <div class="actividad">
        <img class="imgActividad" src="images/chess.jpg" alt="chess.jpg">
            <div class="actividadBloque">
                <h3>AJEDREZ</h3>
                <div class="descActividad">
                    Juego de mesa en el que se enfrentan dos jugadores, cada uno de los cuales tiene 16 piezas 
                    de valores diversos que puede mover, según ciertas reglas, sobre un tablero dividido en 64 cuadros 
                    alternativamente blancos y negros; gana el jugador que consigue dar mate al rey de su contrincante.
                </div>
                
                <div class="masInfo">
                    <a href="">[Más información]</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="separador"></div>
    <div class="actividad">
        <img class="imgActividad" src="images/futbol.jpg" alt="futbol.jpg">
            <div class="actividadBloque">
                <h3>FÚTBOL</h3>
                <div class="descActividad">
                    Juego entre dos equipos de once jugadores cada uno, cuya finalidad es hacer entrar un balón por una 
                    portería conforme a reglas determinadas, de las que la más característica es que no puede ser tocado 
                    con las manos ni con los brazos.
                </div>
                
                <div class="masInfo">
                    <a href="">[Más información]</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="separador"></div>
    <div class="actividad">
        <img class="imgActividad" src="images/chess.jpg" alt="chess.jpg">
            <div class="actividadBloque">
                <h3>AJEDREZ</h3>
                <div class="descActividad">
                    Juego de mesa en el que se enfrentan dos jugadores, cada uno de los cuales tiene 16 piezas 
                    de valores diversos que puede mover, según ciertas reglas, sobre un tablero dividido en 64 cuadros 
                    alternativamente blancos y negros; gana el jugador que consigue dar mate al rey de su contrincante.
                </div>
                
                <div class="masInfo">
                    <a href="">[Más información]</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="separador"></div>
    <div class="actividad">
        <img class="imgActividad" src="images/futbol.jpg" alt="futbol.jpg">
            <div class="actividadBloque">
                <h3>FÚTBOL</h3>
                <div class="descActividad">
                    Juego entre dos equipos de once jugadores cada uno, cuya finalidad es hacer entrar un balón por una 
                    portería conforme a reglas determinadas, de las que la más característica es que no puede ser tocado 
                    con las manos ni con los brazos.
                </div>
                
                <div class="masInfo">
                    <a href="">[Más información]</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="separador"></div>   
</body>
</html>