{% extends 'vinos/masterVinos.html.twig' %}

{% block titulo %}Arzuaga{% endblock %}

{% block mensaje %}
<ul>
    <li>envolvente</li>
    <li>sabroso</li>
    <li>equilibrado</li>
    <li>finura</li>
</ul>
{% endblock %}


{% block imgVino %}
<img class="vino" src="vinos/arzuaga.jpg" alt="arzuaga.jpg">
<figcaption>Hola Arzuaga</figcaption>
{% endblock %}