<footer>
    <img src="vinos/LogoRibera.jpg" alt="Mapa El Corazon del Duero">
    <br>

    <p>Ven a <a href="{{ path('vistaMasterVinos') }}">Ribera del Duero</a>. Nuestros Vinos. Conoce sus características.</p>
</footer>