<header>
    <ul id="menu">
        <li class="liMenu"><a class="nav-link" href=" {{ path('vistaProtos') }}">Protos</a></li>|
        <li class="liMenu"><a class="nav-link" href=" {{ path('vistavegaSicilia') }}">Vega Sicilia</a></li>|
        <li class="liMenu"><a class="nav-link" href=" {{ path('vistaArzuaga') }}">Arzuaga</a></li>|
        <li class="liMenu"><a class="nav-link" href=" {{ path('vistaPradoRey') }}">Prado Rey</a></li>
    </ul>
</header>