{% extends 'vinos/masterVinos.html.twig' %}

{% block titulo %}Prado Rey{% endblock %}

{% block mensaje %}
<ul>
    <li>envolvente</li>
    <li>sabroso</li>
    <li>equilibrado</li>
    <li>finura</li>
</ul>
{% endblock %}


{% block imgVino %}
<img class="vino" src="vinos/pradoRey.jpg" alt="pradoRey.jpg">
<figcaption>Priviet Prado Rey</figcaption>
{% endblock %}