{% extends 'vinos/masterVinos.html.twig' %}

{% block titulo %}Protos{% endblock %}

{% block mensaje %}
<p></p>
<ul>
    <li>Tonos afrutados</li>
    <li>Sabor a madera</li>
    <li>Rojo pasión</li>
</ul>
{% endblock %}


{% block imgVino %}
<img class="vino" src="vinos/protos.jpg" alt="protos">
<figcaption>Je suis Protos</figcaption>
{% endblock %}