{% extends 'vinos/masterVinos.html.twig' %}

{% block titulo %}Vega Sicilia{% endblock %}

{% block mensaje %}
<ul>
    <li>envolvente</li>
    <li>sabroso</li>
    <li>equilibrado</li>
    <li>finura</li>
</ul>
{% endblock %}


{% block imgVino %}
<img class="vino" src="vinos/vegaSicilia.jpg" alt="vegaSicilia.jpg">
<figcaption>Saluti Vega Sicilia</figcaption>
{% endblock %}