<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home/home.css">
    <link rel="stylesheet" href="css/includes/header.css">
    <link rel="stylesheet" href="css/includes/footer.css">
    <title>¡Bienvenido a WAYDO!</title>
</head>

<body>
    {% include 'includes/header.html.twig' %}

    <div class="content">
        <div class="left">
            <img src="images/madrid-banner.jpg" alt="logo madrid">
            <br><br><br>
            <p>
                ¡Descubre los distintos distritos de Madrid y todo lo que tienen que ofrecerte!
            </p>
            <p>
                <em>
                Elige una actividad, encuentra un sensei en tu distrito, conviértete en su pupilo,
                compite con otros barrios y distritos, sube en el ranking y gana premios.
                </em>
            </p>
            <p>
                No nos mires 👀... <strong><a class="unete" href="{{ path('app_register') }}">únete</a></strong>
            </p>
            <br><br>

            {# haciendo el div clickable #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="button" onclick="location.href='{{ path('actividadesFlipBox') }}';" style="cursor: pointer;">
                    VER ACTIVIDADES
                </div>
            {% else %}
                <div class="button" onclick="location.href='{{ path('actividades') }}';" style="cursor: pointer;">
                    VER ACTIVIDADES
                </div>
            {% endif %}
            
        </div>
        <div class="right">
            <img src="images/distritos-de-madrid.jpg" alt="distritos de Madrid">
        </div>
    </div>

    {% include 'includes/footer.html.twig' %}
</body>

</html>