<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Compra por Género</title>
    <style>
        ul{
            display: inline-block;
            text-align: center;
        }
        li{
            display: inline-block;
            text-align: center;
            width: 140px;
        }
        form{
            margin-left: 50%;
        }

    </style>
</head>
<body>
    {% include 'generos/cabecera.html.twig' %}

    {% if message is defined %}
        {{message}}
    {% endif %}

    <br><br>
    <form action="{{ path('verCarrito') }}" method="POST" name="formu" style="display: inline-block;">
        <a href="javascript:formu.submit()">Ver carrito de la compra</a>
        <input type="hidden" value="valor oculto" name="oculto">
    </form> 
</body>
</html>