<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo departamento</title>
</head>

<body>

    <h1>Nuevo Departamento</h1>

    <form method="POST" action="{{ path('insertarDept') }}">
        
        <ul>
            <label>
                <li>Deptno</li>
            </label>
            <input type="text" name="txtId" id="txtId" placeholder="autoincremental" readonly>
        
            <label>
                <li>Nombre</li>
            </label>
            <input type="text" name="txtNombre" id="txtNombre" value="">
        
            <label>
                <li>Localización</li>
            </label>
            <input type="text" name="txtLoc" id="txtLoc" value="">
        </ul>

        <button type="submit">
            Insertar
        </button>

    </form>
</body>

</html>